
.header-container{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 10rem;
    background-color: lightgray;
   
}
.header-title{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;
    
  
}